bin/
share/
lib/
db.sqlite3
media/
db_BACKUP_5156.sqlite3
db_BACKUP_5276.sqlite3
db_BASE_5156.sqlite3
db_BASE_5276.sqlite3
db_LOCAL_5156.sqlite3
db_LOCAL_5276.sqlite3
db_REMOTE_5156.sqlite3
db_REMOTE_5276.sqlite3
questionBank/__pycache__/
*.sqlite3
*/__pycache__