asgiref==3.2.7
boto3==1.13.17
botocore==1.16.17
Django==3.0.6
django-filter==2.2.0
django-phone-field==1.8.0
django-sendgrid-v5==0.8.1
django-six==1.0.4
django-storages==1.9.1
docutils==0.15.2
future==0.18.2
jmespath==0.10.0
python-dateutil==2.8.1
python-http-client==3.2.7
pytz==2020.1
s3transfer==0.3.3
sendgrid==6.3.1
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
