{% extends 'questionBank/main.html' %}
{% load static %}
{% block content %}
<h5> home </h5>

<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
                    <th>Serial No.</th>
                    <th>Uploaded on</th>
					<th>subjectName</th>
					<th>subjectCode</th>
					<th>year</th>
					<th>examType</th>
                    {% comment %} <th>File</th>
					<th>Update</th> {% endcomment %}
				</tr>
				{% for questionPaper in questionPapers %}
					<tr>
                        <td>{{ forloop.counter }} </td>
                        {% comment %} <td>{{ questionPaper.date_created|date:'M j,Y' }}</td> {% endcomment %}
						<td>{{ questionPaper.subjectName }}</td>
						<td>{{ questionPaper.subjectCode }}</td>
						<td>{{ questionPaper.year }}</td>
                        <td>{{ questionPaper.examType }}</td>
						
						{% comment %} <td><a href="{{ questionPaper.fileURL }}" download> {{questionPaper.File}}</td> {% endcomment %}
						<td><a class="btn btn-outline-info btn-sm "href="{% url 'viewpage' questionPaper.id%}">View</a></td>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}