{% extends 'questionBank/main.html' %}

{% block content %}

<div class = "container">
    <br><h3> Password Reset </h3><br>
    <p> Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one. </p>
</div>

<form method = "POST">
    {% csrf_token %}
    <div class = "container">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" name="email" class="form-control" autocomplete="off" maxlength="254" id="email"> 
        </div>
        <input type="submit" class="btn btn-dark" value="Reset my password">
    </div>
{% endblock %}