{% extends 'questionBank/main.html' %}
{% load static %}
{% block content %}
<br><br>
    <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Dashboard</a>
    <p class="text-center my_search_text"> You have searched for : <b>"{{ query }}"</b></p>
</div>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
                    <th>Serial No.</th>
					<th>Uploaded on </th>
					<th>subjectName</th>
					<th>subjectCode</th>
					<th>year</th>
					<th>examType</th>
				</tr>
				{% for questionPaper in questionPapers %}
					<tr>
                        <td>{{ forloop.counter }} </td>
						<td>{{ questionPaper.date_created|date:'M j, Y'  }}</td>
						<td>{{ questionPaper.subjectName }}</td>
						<td>{{ questionPaper.subjectCode }}</td>
						<td>{{ questionPaper.year }}</td>
                        <td>{{ questionPaper.examType }}</td>
						<td><a class="btn btn-outline-info btn-sm "href="{% url 'viewpage' questionPaper.id%}">View</a></td>
					</tr>
				{% endfor %}
			</table>
			</table>
		</div>
	</div>
</div>

{% endblock %}