{% extends 'questionBank/main.html' %}
{% block content %}


<br>
<div class="row">
	<div class="col-md-9">
		<div class="card card-body">
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
					<label for="id_File1">Example file input</label>
					<input type="file" class="form-control-file" id="id_File1" name="File1">
				</div>
				{% comment %} <div class="form-group">
					<label for="id_File2">Example file input</label>
					<input type="file" class="form-control-file" id="id_File2" name="File2">
				</div> {% endcomment %}
				<div class="form-group">
					<label for="name">subjectName</label>
					<input type="text" class="form-control" value="{{papers.details.subjectName}}" id="name" name='subjectName'>
				</div>
				<div class="form-group">
					<label for="subjectCode">sunjectCode</label>
					<input type="text" class="form-control" value="{{papers.details.subjectCode}}" id="subjectCode" name='subjectCode'>
				</div>
				<div class="form-group">
					<label for="year">year</label>
					<input type="text" class="form-control" value="{{papers.details.year}}" id="year" name='year'>
				</div>
				<div class="form-group">
					<label for="examType">examType</label>
					<input type="text" class="form-control" value="{{papers.details.examType}}" id="examType" name='examType'>
				</div>
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form> 
            <hr>
            {% for message in messages %}
				<p id="messages">{{message}}</p>
			{% endfor %}	
            <hr>
		</div>
	</div>
</div>



{% endblock %}